footer{
    padding: 80px 0px;
    border-top: 1px solid $primaryColor;
}

.footer__list-1,.footer__list-2,.footer__list-3,.footer__list-4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fl li{
    color: gray;
}

@media(max-width:850px){
    footer{
        flex-wrap: wrap;
        gap: 50px;
    }
    .fl{
        width: 45%;
    }
}

@media(max-width:610px){
    .fl{
        width: 80%;
        text-align: center;
    }

}